.Header {
  /* background-image: url("/images/AirPods_Charger.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 40vh;
}
h1,
button {
  color: #3a3a3a;
  font-size: 32px;
  margin-bottom: 0.2em;
  line-height: 37px;
}
